.cookieConsent {
  background: url('../images/cookie-bg.svg') no-repeat center center;
  background-size: contain;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 999;
  bottom: 0 !important;
  right: 0;
  padding: 2rem 2rem 0;
  max-width: 368px;
  text-align: center;

  @include media-breakpoint-up(sm) {
    //bottom: 1rem !important;
    right: 1rem;
    padding: 2rem;
  }

  p {
    color: white;
    font-family: "Proxima Nova W05 Regular", Arial, sans-serif;
  }

  @include media-breakpoint-down(xs) {
    display: block;
    text-align: center;
  }

  .cookieContent {
    margin: 0;
    padding: 0.5rem;

    .link {
      @include media-breakpoint-down(xs) {
        margin: 0 auto;
      }
    }
  }
}

.outdated-browser {
  display: block;
  text-align: center;
  font-weight: 700;
  position: absolute;
  z-index: 502;
  max-width: 480px;
  width: 100%;
  top: 0;
  left: calc(50% - 240px);

  @include media-breakpoint-down(xs) {
    left: 50%;
    transform: translateX(-50%);
  }

  p {
    margin-bottom: 0;
    padding: 0.5rem;
    background-color: black;
    font-size: 0.875rem;
  }

}