.header {
    background: none;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    transition: $transition-base;
    z-index: 501;

    &.collapsed {
        background-color: white;
    }
    &__links {
        &--social {
            list-style: none;
            padding: 0 0 0 4rem;
            position: relative;
            margin: 0;
            width: 100%;
            display: none;

            @include media-breakpoint-up(md) {
                display: block;
            }

            &.active {
                display: block;
            }

            li {
                display: inline-block;
                text-align: left;
                width: 30px;
                margin: 0 0.75rem;
                position: relative;

                @media (max-width: 399px) {
                    width: 30px;
                }
            }
        }
    }

    &-logo {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);

        &.hidden {
            display: none;
        }

        img {
            max-height: 50px;
        }
    }
}