.CreativePage {

    h1 {
        color: $project-pink;
        text-transform: uppercase;
        font-family: "Proxima Nova W05 Black", Arial, sans-serif;
        text-align: center;
        font-size: 2.25rem;
        line-height: 2rem;
        letter-spacing: 0;

        @include media-breakpoint-up(lg) {
            font-size: 4rem;
            line-height: 4rem;
        }
    }

    h2 {
        color: $project-pink;
        text-transform: uppercase;
        font-family: 'BurbankBigCondensed-Bold';
        text-align: center;
        letter-spacing: 0;
    }

    h3 {
        color: $project-pink;
        text-transform: uppercase;
        font-family: "Proxima Nova W05 Black", Arial, sans-serif;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.5rem;
        letter-spacing: 0;

        @include media-breakpoint-up(lg) {
            font-size: 3rem;
            line-height: 3rem;
        }
    }

    .container--pink-shape {
        background: $project-pink;
        padding: 2rem 1rem;
        color: white;

        @include media-breakpoint-up(xxl) {
            padding: 6rem 2rem;
            background: url('../images/pink-shape.svg') center center no-repeat;
            background-size: 100%;
        }

        p {
            font-size: 1rem;
            line-height: 1rem;
            margin: 0;

            @include media-breakpoint-up(lg) {
                font-size: 1.5rem;
                line-height: 1.75rem;
            }
        }

        .book-title {
            color: white !important;
        }
    }

    .container--blue-shape {
        background: $project-light-blue;
        padding: 2rem 1rem;
        color: white;

        @include media-breakpoint-up(xxl) {
            padding: 5rem;
            background: url('../images/blue-shape.svg') center center no-repeat;
            background-size: cover;
        }

        p {
            font-size: 1rem;
            line-height: 1rem;
            // margin: 0;

            @include media-breakpoint-up(lg) {
                font-size: 1.5rem;
                line-height: 1.75rem;
            }
        }

        .book-title {
            color: white !important;
        }
    }

    .top-logo {
      position: relative;
      top: 70px;
    }

    .btn--book-now, .btn--ticketmaster, .btn--call, .btn--person, .btn--mail {
        font-size: 1.25rem;
        padding: 10px 0 10px 50px;

        @include media-breakpoint-up(sm) {
            //font-size: 1.65rem;
        }

        @include media-breakpoint-up(lg) {
            padding: 13px 0 13px 50px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 1.5rem;
            padding: 13px 0 13px 50px;
        }

        &:before {
            @include media-breakpoint-up(lg) {
                left: 35px;
            }

            @include media-breakpoint-up(xl) {
                left: 15px;
            }

            @include media-breakpoint-up(xxl) {
                left: 35px;
            }

            @include media-breakpoint-up(xxxl) {
                left: 25px;
            }

            @include media-breakpoint-down(sm) {
                left: 20px;
            }
        }

        &:hover {
            background: url('../images/buttons/book-now-rectangle-hover-black.svg') no-repeat center center;
            background-size: contain;
        }
    }

}