.HomePage {
    color: black;
    text-align: center;

    .sheIsBack, .logo {
        width: 100%;
        max-width: 650px;

        @include media-breakpoint-up(xxl) {
            max-width: 800px;
        }

        @include media-breakpoint-up(xxxl) {
            max-width: initial;
        }
    }

    .starring, .limitedSeason {
        max-height: 96px;

        @include media-breakpoint-up(lg) {
            max-height: 200px;
        }
    }


}