@font-face {
    font-family: "Proxima Nova W05 Light";
    src: url("fonts/c48b9e64-9616-4651-8136-26dcc90b518f.eot?#iefix");
    src: url("fonts/c48b9e64-9616-4651-8136-26dcc90b518f.eot?#iefix") format("eot"), url("fonts/27f5855e-1f73-42cc-a083-cb0f319ea42a.woff2") format("woff2"), url("fonts/f44944f0-b92e-4152-9ea1-eb41de241416.woff") format("woff"), url("fonts/b3ca6462-e5b3-4cfd-9c86-69bd1444273f.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova W05 Regular";
    src: url("fonts/3bc45708-b148-4161-9d38-fa10e8cd8ed7.eot?#iefix");
    src: url("fonts/3bc45708-b148-4161-9d38-fa10e8cd8ed7.eot?#iefix") format("eot"), url("fonts/33ca2000-af7b-4444-97cd-6392ab2e24b2.woff2") format("woff2"), url("fonts/1c003cc6-0f8f-4c82-adde-a5a026b56b50.woff") format("woff"), url("fonts/96dc6d98-013d-4a94-9c09-8476abc0abc6.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova W05 Medium";
    src: url("fonts/e49a997f-7512-4cb2-b647-589aaacffab5.eot?#iefix");
    src: url("fonts/e49a997f-7512-4cb2-b647-589aaacffab5.eot?#iefix") format("eot"), url("fonts/fefa128d-8eb9-48e9-adf7-568b92a2e991.woff2") format("woff2"), url("fonts/8c025621-11f1-4af4-8dfa-69eb993b51b9.woff") format("woff"), url("fonts/7b58123f-5968-4e40-a0e0-6568b05ed816.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova W05 Bold";
    src: url("fonts/9a48aea6-1175-475c-9ca0-e88402e8c3e3.eot?#iefix");
    src: url("fonts/9a48aea6-1175-475c-9ca0-e88402e8c3e3.eot?#iefix") format("eot"), url("fonts/3c35dc60-9fe3-480f-90ac-e453db0271e2.woff2") format("woff2"), url("fonts/2b2b7939-693b-44cd-873a-1aa065a906b8.woff") format("woff"), url("fonts/b3268637-7b92-4f81-9d7f-1ee8e8a5d517.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova W05 Black";
    src: url("fonts/baf77aae-6904-44b2-a4bc-01ba9998cd41.eot?#iefix");
    src: url("fonts/baf77aae-6904-44b2-a4bc-01ba9998cd41.eot?#iefix") format("eot"), url("fonts/fe7a1b50-a80f-4c74-9aa1-dd758277036c.woff2") format("woff2"), url("fonts/2322a12f-be08-4e73-b44f-0f42eb551213.woff") format("woff"), url("fonts/f3e177b2-fe6a-4405-bf0b-b05e4faddc4a.ttf") format("truetype");
    font-display: swap;
}