@font-face {
    font-family: "Freight Display W01 Book";
    src: url("fonts/01a64895-dd56-4be9-bfe6-9e43e321fba2.eot?#iefix");
    src: url("fonts/01a64895-dd56-4be9-bfe6-9e43e321fba2.eot?#iefix") format("eot"), url("fonts/589f520d-e0dd-4be8-810b-253337737b36.woff2") format("woff2"), url("fonts/36ee7795-1253-4cc0-8a35-795884c20960.woff") format("woff"), url("fonts/e1434c67-44d2-47f1-8823-ee610ba7d037.ttf") format("truetype");
}

@font-face {
    font-family: "Freight Display W01 SemiBold";
    src: url("fonts/eabbf712-a3a7-454d-afd0-72f5f90079c6.eot?#iefix");
    src: url("fonts/eabbf712-a3a7-454d-afd0-72f5f90079c6.eot?#iefix") format("eot"), url("fonts/5d0b46a4-d742-4a0e-bb36-6a75a855d4ee.woff2") format("woff2"), url("fonts/aec8a238-cc0b-490f-9fbb-47b8ead0f82d.woff") format("woff"), url("fonts/9680910c-a616-40e9-9354-69349e0f0dfc.ttf") format("truetype");
}
