// Vendors
@import '~bootstrap/scss/bootstrap';

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1440px,
        xxxl: 1920px
);
// Fonts
@import 'fonts';
// Base
@import 'base/variables';
@import 'base/base';
@import 'base/type';
@import 'base/buttons';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/animations';
// Components
@import 'components/cookie';
@import 'components/footer';
@import 'components/header';
@import 'components/nav';
@import 'components/page';
@import 'components/signUpModal';
@import 'components/socialIcon';
@import 'components/youtubeModal';
// Page
@import 'components/HomePage';
@import 'components/PrivacyPage';
@import 'components/CastPage';
@import 'components/TicketInfoPage';
@import 'components/AboutPage';