body {
    overflow-x: hidden;
    color: $big-white;
    line-height: $spacer * 1.2;
    font-weight: 400;
    font-style: normal;
    font-size: $spacer;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    z-index: 1;
    background: none;
}

.container-fluid {
    @include media-breakpoint-down(xs) {
        padding-left: 0;
        padding-right: 0;
    }
}

.container-small {

    @include media-breakpoint-up(lg) {
        width: 820px;
        margin: 0 auto;
    }

    @include media-breakpoint-down(xs) {
        padding-left: 0;
        padding-right: 0;
    }
}