.btn {
    width: 260px;
    height: 50px;
    transition: $transition-base;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 1.5rem;
    display: block;
    cursor: pointer;
    font-family: "Helvetica Neue Condensed", Arial, sans-serif;
    margin: 0 auto;
    position: relative;

    a {
      font-family: "Helvetica Neue Condensed", Arial, sans-serif;
    }

    &--dark-gray {
        background: $big-dark-gray;
        color: $big-white;

        &:hover {
            background: $big-white;
            color: $big-dark-gray;
        }
    }

    &--red {
        width: 240px;
        background: url('../images/buttons/btn-240x50-bg.svg') no-repeat center center;
        background-size: 100%;
        color: $big-white;
        box-shadow: 2px 4px 4px 0 rgba(0,0,0,0.25);

        &:hover {
            //background: $big-white;
            //color: $big-red;
            color: $big-white;
            box-shadow: none;
        }
    }

    &--short {
        background: url('../images/buttons/btn-120x40-bg.svg') no-repeat center center;
        width: 120px;
        height: 40px;
        background-size: 100%;
        color: $big-white;
        box-shadow: 2px 4px 4px 0 rgba(0,0,0,0.25);
        font-size: 1rem;
        line-height: 1;
        padding: 0.75rem 0;

        @include media-breakpoint-up(sm) {
            background: url('../images/buttons/btn-200x40-bg.svg') no-repeat center center;
            width: 200px;
            height: 40px;
            font-size: 1.5rem;
            line-height: 1.15;
            padding: 0.375rem 0.75rem;
        }

        &:hover {
            color: $big-white;
            box-shadow: none;
        }
    }
}

