.btn {
    font-family: "Proxima Nova W05 Black", Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    text-align: center;

    &--sign-up {
        font-family: "Proxima Nova W05", Arial, sans-serif;
        width: 100%;
        color: white;
        padding: 20px 10px;
        max-width: 290px;
        background: url('../images/buttons/sign-up-rectangle.svg') no-repeat center center;
        background-size: cover;
        text-transform: none;

        @include media-breakpoint-up(sm) {
            font-size: 1.125rem;
        }
    }
    &--sign-up {
        font-family: "Proxima Nova W05", Arial, sans-serif;
        width: 100%;
        color: white;
        padding: 20px 10px;
        max-width: 290px;
        background: url('../images/buttons/sign-up-rectangle.svg') no-repeat center center;
        background-size: cover;
        text-transform: none;

        @include media-breakpoint-up(sm) {
            font-size: 1.125rem;
        }
    }
    &--book-now,
    &--ticketmaster,
    &--call,
    &--person,
    &--mail,
    &--hotel,
    &--on-sale,
    &--download {
        font-family: "Proxima Nova W05 Black", Arial, sans-serif;
        position: relative;
        font-size: 1.65rem;
        // line-height: 1.65rem;
        width: 100%;
        color: white;
        padding: 2px 0 5px 50px;
        max-width: 290px;
        background: url('../images/buttons/watch-trailer-rectangle.svg') no-repeat center center;
        background-size: contain;
        transition: $transition-base;

        @include media-breakpoint-up(sm) {
            padding: 8px 0 5px 60px;
            font-size: 1.25rem;
            line-height: 1.25rem;
            min-height: 50px;
        }

        @include media-breakpoint-up(md) {
            padding: 5px 0 5px 60px;
            font-size: 1.5rem;
            line-height: 1.5rem;
        }

        @include media-breakpoint-up(lg) {
            padding: 12px 0 15px 70px;
            max-width: 340px;
            font-size: 1.85rem;
            line-height: 1.85rem;
        }

        &:before {
            content: "";
            background: url('../images/icons/ticket.svg') no-repeat center center;
            position: absolute;
            width: 50px;
            height: 50px;
            top: calc(50% - 3px);
            left: 15px;
            transform: translateY(-50%);
            transition: $transition-base;
        }

        &:hover {
            transform: scale(1.1);
            color: white;
            background: url('../images/buttons/book-now-rectangle-hover.svg') no-repeat center center;
            background-size: contain;

            &:before {
                transform: translateY(-50%) rotate(60deg);
            }
        }
    }

    &--ticketmaster {
        &:before {
            left: 20px;
            @include media-breakpoint-up(sm) {
                left: 20px;
            }
        }
    }

    &--call {
        &:before {
            background: url('../images/icons/phone.svg') no-repeat center center;
            background-size: 30px;
        }
    }

    &--person {
        &:before {
            background: url('../images/icons/location.svg') no-repeat center center;
            background-size: 30px;
        }
    }

    &--mail {
        &:before {
            background: url('../images/icons/mail.svg') no-repeat center center;
            background-size: 50px;
        }
    }
    &--download {
        &:before {
            background: url('../images/icons/download.svg') no-repeat center center;
            background-size: 50px;
    }
        &:hover {
            &:before {
                transform: translateY(-50%) ;
            }
        }
    }
    &--hotel {
        font-size: 1.4rem;
        padding: 15px;
        height: 100px;
        background: url('../images/buttons/hotel-shape.svg') no-repeat center center;
        max-width: 300px;
        line-height: 1;
        padding-left: 60px;
        @include media-breakpoint-up(sm) {
            font-size: 1.4rem;
            margin-left: 0;
            background: url('../images/buttons/watch-trailer-rectangle.svg') no-repeat center center;
            background-size: contain;
            padding: 15px;
            height: auto;
            max-width: 330px;
        }
        &:before {
            background: url('../images/icons/hotel.svg') no-repeat center center;
            background-size: 90px;
            width: 90px;
            height: 90px;
            left: -5px;
            @include media-breakpoint-up(sm) {
                left: -75px;
            }
        }
        
    }

    &--on-sale {
        background: none;
        color: $project-purple;
        padding: 28px 0 0;
        cursor: default;

        @include media-breakpoint-up(lg) {
            padding: 40px 0 0;
        }

        &:before {
            content: "";
            background: none;
        }

        &:hover {
            transform: none;
            color: $project-purple;
            background: none;
        }
    }

    &--watch-trailer {
        font-family: "Proxima Nova W05 Black", Arial, sans-serif;
        position: relative;
        font-size: 1.65rem;
        width: 100%;
        color: white;
        padding: 8px 0 3px 60px;
        max-width: 290px;
        background: url('../images/buttons/watch-trailer-rectangle.svg') no-repeat center center;
        background-size: contain;
        transition: $transition-base;

        @include media-breakpoint-up(sm) {
            padding: 5px 0 5px 50px;
            font-size: 1.25rem;
            min-height: 50px;
        }

        @include media-breakpoint-up(md) {
            font-size: 1.5rem;
        }

        @include media-breakpoint-up(lg) {
            padding: 18px 0 15px 70px;
            max-width: 340px;
            font-size: 1.75rem;
        }

        @include media-breakpoint-up(xl) {
            padding: 15px 0 15px 60px;
            font-size: 1.5rem;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 1.85rem;
        }

        &:before {
            content: "";
            background: url('../images/icons/trailer.svg') no-repeat center center;
            position: absolute;
            width: 50px;
            height: 50px;
            top: calc(50% - 7px);
            left: 10px;
            transform: translateY(-50%);
            transition: $transition-base;
        }

        &:hover {
            transform: scale(1.1);
            color: white;
            background: url('../images/buttons/watch-trailer-rectangle-hover.svg') no-repeat center center;
            background-size: contain;

            &:before {
                transform: translateY(-50%) rotate(-20deg);
            }
        }
    }

    &--close {
        width: 140px;
        background: url('../images/buttons/btn.svg') no-repeat center center;
        background-size: contain;
        padding: 6px 10px;
        border: none;
        font-size: 1.5rem;
        color: white;
        font-family: "Proxima Nova W05 Bold", Arial, sans-serif;
        font-weight: bold;
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
            font-size: 2.25rem;
            width: 200px;
        }
    }
}

