.btn {
    font-family: "Proxima Nova W05 Black", Arial, sans-serif;
    text-transform: uppercase;

    &--sign-up {
        font-size: 1.5rem;
        line-height: 1.5rem;
        width: 100%;
        color: white;
        padding: 30px 10px;
        max-width: 290px;
        background: url('../images/buttons/sign-up-rectangle-xs.svg') no-repeat center center;
        background-size: cover;

        @include media-breakpoint-up(sm) {
            padding: 25px;
            max-width: 576px;
            font-size: 1.75rem;
            line-height: 1.75rem;
            background: url('../images/buttons/sign-up-rectangle.svg') no-repeat center center;
            background-size: cover;
        }

        @include media-breakpoint-up(md) {
            font-size: 2.75rem;
            line-height: 2.75rem;
        }
    }

    &--close {
        width: 140px;
        background: url('../images/buttons/btn.svg') no-repeat center center;
        background-size: contain;
        padding: 6px 10px;
        border: none;
        font-size: 1.5rem;
        color: white;
        font-family: "Proxima Nova W05 Bold", Arial, sans-serif;
        font-weight: bold;
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
            font-size: 2.25rem;
            width: 200px;
        }
    }
}

