* {
    font-family: "Proxima Nova W05 Regular", Arial, sans-serif;
}

h1, h2, h3 {
    font-family: "Proxima Nova W05 Regular", Arial, sans-serif;
}

h1 {
    letter-spacing: 0.2em;
}

h3 {
    letter-spacing: 0.1em;
    font-size: 1.25rem;

    @include media-breakpoint-up(sm) {
        font-size: 1.5rem;
    }
}

p {
    font-size: 1.125rem;
    line-height: normal;
    font-family: "Proxima Nova W05 Light", Arial, sans-serif;

    @include media-breakpoint-up(sm) {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}

.text {
    &--small {
        font-size: 0.875rem;
        line-height: normal;

        @include media-breakpoint-up(sm) {
            font-size: 1rem;
        }
    }
}