* {
    font-family: "Proxima Nova W05 Regular", Arial, sans-serif;
}

h1, h2, h3 {
    font-family: "Proxima Nova W05 Regular", Arial, sans-serif;
}

b, strong {
    font-family: "Proxima Nova W05 Bold", Arial, sans-serif;
}


h3 {
    font-size: 1rem;

    @include media-breakpoint-up(sm) {
        font-size: 1.5rem;
    }
}

p {
    font-size: 1.125rem;
    line-height: normal;
    font-family: "Proxima Nova W05 Regular", Arial, sans-serif;

    @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}

.heading {
    &--xl {
        font-size: calc(56px + (80 - 56) * ((100vw - 300px) / (1600 - 300)));
        font-family: 'BurbankBigCondensed-Bold'!important;
    }
    &--lg {
        font-size: calc(40px + (72 - 40) * ((100vw - 300px) / (1600 - 300)));
        font-family: 'BurbankBigCondensed-Bold'!important;
    }
    &--md {
        font-size: calc(36px + (60 - 36) * ((100vw - 300px) / (1600 - 300)));
        font-family: 'BurbankBigCondensed-Bold'!important;
    }
    &--sm {
        font-size: calc(20px + (42 - 20) * ((100vw - 300px) / (1600 - 300)));
        font-family: 'BurbankBigCondensed-Bold'!important;
    }
    &--name {
        font-size: calc(20px + (42 - 20) * ((100vw - 300px) / (1600 - 300)));
        font-family: 'BurbankBigCondensed-Bold'!important;
        @include media-breakpoint-up(sm) {
            font-size: calc(30px + (72 - 30) * ((100vw - 300px) / (1600 - 300)));
        }
    }
}
.line-base {
    line-height: 1;
}
.line-half {
    line-height: 0.6;
}
.text {
    &--small {
        font-size: 0.875rem;
        line-height: normal;

        @include media-breakpoint-up(sm) {
            font-size: 1rem;
        }
    }

    &--normal {
        font-size: 1rem;
        line-height: normal;

        @include media-breakpoint-up(sm) {
            font-size: 1.125rem;
        }
    }
    &--pink {
        color: $project-pink !important;
    }
    &--faded-pink {
        color: $project-light-pink !important;
    }

    &--faded-blue {
        color: $project-lighter-than-light-blue !important;
    }

    &--blue {
        color: $project-lighter-blue !important;
    }

    &--purple {
        color: $project-purple !important;
    }

    &--white {
        color: white !important;
    }

    &--bold {
        font-family: "Proxima Nova W05 Bold", Arial, sans-serif;
    }

    &--bolder {
        font-family: "Proxima Nova W05 Black", Arial, sans-serif;
    }
}

.link {
    &--pink {
        color: $project-pink;
        text-decoration: underline;

        &:hover {
           color: black;
        }
    }
}