$big-light-red: #ee9b9c;
$big-red: #D2232A;
$big-dark-red: #A00006;
$big-dark-gray: #4F4F4F;
$big-light-gray: #F5F2F5;
$big-white: #FFFFFF;
$big-transparent: #ffffff26;

$containter-content-max: 1360px;