$project-transparent: #ffffff26;
$project-lighter-than-light-blue: #90D8FF;
$project-lighter-blue: #269DDF;
$project-light-blue: #0C8CD2;
$project-blue: #23408C;
$project-purple: #4C378F;
//4C378F
$project-pink: #D70F82;
$project-light-pink: #FFA7CE;

$containter-content-max: 1360px;